/* For Tablets */

#top{
	height: 100vh;
	font-size: 2.5em;
}
#button{
	width: 40%;
}
li{
	padding: 20px;
	font-size: 20px;
}
footer{
    font-size: 0.9em;
}
#card{
	width: 100%;
	font-size : 0.85em;
}

#card li{
	font-size: 1em;
	margin: 0;
}

#code{
	width: 100%;
	font-size: 0.85em;
}
#head{
	font-size: 2.5em;
}
#foot{
	height: 0;
	background: transparent;
}
footer{
	width: 100%;
	box-sizing: border-box;
}
#next{
	font-size: 16px;
	padding: 10px;
}