#top{
	height: 100vh;
	font-size: 40px;
}
#button{
	width: 40%;
}
li{
	padding: 20px;
	font-size: 20px;
}
footer{
    font-size: 20px;
}
#card{
	width: 100%;
}
#code{
	width: 100%;
	font-size: 14px;
}
#head{
	font-size: 40px;
}
#foot{
	height: 0;
	background: transparent;
}
footer{
	width: 100%;
	box-sizing: border-box;
}
#next{
	font-size: 16px;
	padding: 10px;
}